@media screen and (max-width:480px) {
    .fixed_width {
        width: 100%;
    }
    .col_4 {
        /*設定四欄*/
        width: 100%;
        padding: 20px;
        /*    margin: 10px;*/
        /*    float: left;*/
        /*    text-align: center;*/
    }
    .col_2 {
        width: 100%;
    }
    #service .wrapper .col_2 .content h3 {
        border-left: 5px solid #4f33e8;
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 26px;
    }
    /*置中說明文Part1*/
    #service .wrapper .col_2::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    /*More 連結按鈕*/
    .col_2 a {
        color: blue;
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        padding-left: 30%;
        padding-right: 30%;
        border: 1px solid blue;
        margin-top: 20px;
        background-color: rgba(211, 207, 255, 0.7)
    }
    #service .wrapper .col_2 {
        background-color: cadetblue;
    }
    #service .wrapper: .col_2::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    #service .wrapper:nth-of-type(1) .col_2:nth-of-type(1) .content {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
    #service .wrapper:nth-of-type(1) .col_2:nth-of-type(2) {
        background-image: url(img/YAY.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
    }
    #service .wrapper:nth-of-type(2) .col_2:nth-of-type(1) {
        background-image: url(img/meme2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
    }
    #service .wrapper:nth-of-type(2) .col_2:nth-of-type(2) .content {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    nav .logo {
        width: 100px;
        height: 50px;
        background-color: #bbb;
    }
    nav .menu ul {
        margin: 0;
        padding: 0;
    }
    nav .menu li {
        list-style: none;
        border-bottom: 1px solid #666;
    }
    nav .menu li a {
        color: aliceblue;
        background-color: #0e0e58;
    }
    nav .menu a {
        display: block;
        line-height: 50px;
        text-decoration: none;
        color: black;
        font-size: 10px;
        padding-left: 15px;
    }
    header {
        background-image: url(img/doge.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
    }
    header h1 {
        font-size: 50px;
    }
    header p {
        font-size: 15px;
    }
    #about {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    #about .title h2 {
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }
    #about .col_4 h3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #about .col_4 p {
        font-size: 14px
    }
    #about .icon {
        font-size: 25px;
        box-sizing: border-box;
        width: 75px;
        height: 75px;
        background-color: rgba(255, 255, 255, .1);
        display: inline-block;
        line-height: 75px;
        border-radius: 50%;
        /*圓角*/
        border: 1px solid;
        border-color: rgba(255, 255, 255, .5);
    }
    #about .title h2::before {
        content: "Q";
        position: absolute;
        display: block;
        width: 100%;
        font-size: 120px;
        top: -10px;
        color: rgba(255, 185, 185, 0.25);
    }
    #work h2 {
        font-size: 40px;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 160px;
        position: relative;
        letter-spacing: 5px;
        color: black;
    }
    #work .fixed_width:nth-of-type(1) p {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
        color: black;
    }
    #work h3 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        color: black;
    }
    #work .fixed_width:nth-of-type(2) p {
        text-align: center;
        color: black;
    }
    footer {
        background-color: #131440;
        color: #bbb;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 15px;
    }
}